<nav
  class="navbar navbar-expand-sm navbar-dark bg-primary"
  style="color: #6610f2"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)"
      >Project Management System</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/employee"
            routerLinkActive="active"
            >Employee</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/client" routerLinkActive="active"
            >Client</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/master" routerLinkActive="active"
            >Master</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/clientproject"
            routerLinkActive="active"
            >Client Project</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-primary" type="button" (click)="OnLogout()">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-12 pt-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
